body {
  background-color: #ece7e3;
}

.profile-pic {
	max-width: 100%
}

.profile-title {
	color: #212234;
}

.my-nav {
	background-color: #242329;
}

.my-nav a {
	color: white;

}

.my-nav a:hover {
	color: #928283;
}

.jumbotron {
	background-image: url("../img/restaurant1.jpg");
	opacity: 20%;
}

.about-header {
	background-image: url("../img/about1.jpg");
	background-size: cover;
}

.menu-header {background-image: url("../img/food1.jpg");
			background-size: cover;
}

.contact-header {background-image: url("../img/contact1.jpg");
background-size: cover;
}

.card {background-color:#ece7e3; }

.profile-pic {size: 60%}

h1 {
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #710200;
}

h3 {
	text-align: center;
	font-family: 'Lobster', cursive
	color:#710200;
}

h2, h4 {
	font-family: 'Viga', sans-serif;
}

h5 {
	font-style: italic;
}
p {
	font-family: 'BenchNine', sans-serif;
}